<h1>{{_ 'welcome.to.proxyshift'}}</h1>
<p>{{_ 'invites.join.group' group.name inviter.firstname }}</p>
{{#if loggedIn}}
    <p>{{_ 'you.already.loggedin.as' loggedIn.username}}</p>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <p>{{_ 'accept.invitation.thisaccount.clickhere'}}</p>
    <form action="/acceptinvitation" method="post">
        <input type="hidden" name="token" value="{{invitation.token}}">
        <input type="submit" value="Accept">
    </form>
    <p>{{_ 'or.signin.other.existingaccount'}}</p>
{{else}}
    <p>{{_ 'to.getstarted.signin.anotherexistingaccount.orcreateanewone'}}</p>
    <p>{{_ 'signin.existing.proxyshift.account'}}</p>
    {{#if message}}
        <p>{{_ message}}</p>
    {{/if}}
{{/if}}
{{#if loginFailure}}
    <p>{{_ 'invalid.usernameorpassword.caps'}}</p>
{{/if}}
<form action="/acceptinvitation" method="post">
    <input type="hidden" name="token" value="{{invitation.token}}">
    <input type="hidden" name="action" value="signin">
    {{_ 'form.username'}}:<br>
    <input type="text" name="username" value="{{inputUsername}}"><br>
    {{_ 'form.password'}}:<br>
    <input type="text" name="password"><br><br>
    <input type="submit" value="Submit">
</form>

<p>{{_ 'or.create.new.account.caps'}}</p>
<form action="/acceptinvitation" method="post">
    <input type="hidden" name="action" value="signup">
    <input type="hidden" name="token" value="{{invitation.token}}">
    {{_ 'form.username'}}:<br>
    <input type="text" name="username"><br>
    {{_ 'form.firstname'}}:<br>
    <input type="text" name="firstname"><br>
    {{_ 'form.lastname'}}:<br>
    <input type="text" name="lastname"><br>
    {{_ 'form.email'}}:<br>
    <input type="text" name="email"><br>
    {{_ 'form.password'}}:<br>
    <input type="text" name="password"><br>
    {{_ 'form.secretquestion'}}:<br>
    <input type="text" name="squestion"><br>
    {{_ 'form.secretanswer'}}:<br>
    <input type="text" name="sanswer"><br>
    {{_ 'form.phone.home'}}:<br>
    <input type="text" name="phonehome"><br>
    {{_ 'form.phone.mobile'}}:<br>
    <input type="text" name="phonemobile"><br>
    {{_ 'form.phone.pager'}}:<br>
    <input type="text" name="pagernumber"><br>
    <input type="submit" value="Submit">
</form>
