<link rel="stylesheet" type="text/css"  href="site/css/login-form-style.css">

<div class="login-form">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text center">
            <h1>{{_ 'welcome.to.proxyshift'}}</h1>
            <div class="description">
                <p>
                    {{_ 'invites.create.group.welcome' }}
                </p>
                {{#if loggedIn}}
                {{else}}
                    <p>{{_ 'to.getstarted.signin.anotherexistingaccount.orcreateanewone'}}</p>
                {{/if}}
                {{#if message}}
                    <p>{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>{{_ 'welcome.login.header' }}</h3>
                        <p>{{_ 'welcome.login.description' }}:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" action="/creategroup" method="post" class="login-form">
                        <input type="hidden" name="action" value="signin">
                        <input type="hidden" name="token" value="{{invitation.token}}">
                        <div class="form-group">
                            <label class="sr-only" for="username">{{_ 'form.username' }}</label>
                            <input type="text" name="username" placeholder="{{_ 'form.username'}}..." value="{{inputUsername}}" class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">{{_ 'form.password' }}</label>
                            <input type="password" name="password" placeholder="{{_ 'form.password' }}..." class="form-password form-control" id="form-password">
                        </div>
                        <button type="submit" class="btn">{{_ 'form.submit.create.group.login' }}</button>
                    </form>
                </div>
            </div>

            {{#if loggedIn}}
                <div class="social-login">
                    <h3>{{_ 'or.already.logged.in' loggedIn.username}}</h3>
                    {{#if message}}
                        <p>{{message}}</p>
                    {{/if}}
                    <form action="/creategroup" method="post">
                        <input type="hidden" name="action" value="accept">
                        <input type="hidden" name="token" value="{{invitation.token}}">
                        <input class="btn btn-primary" type="submit" value="{{_ 'accept.invitation.thisaccount.clickhere' loggedIn.username}}">
                    </form>
                </div>
            {{/if}}

            <!--
            <div class="social-login">
                <h3>...or login with:</h3>
                <div class="social-login-buttons">
                    <a class="btn btn-link-2" href="#">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-link-2" href="#">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="btn btn-link-2" href="#">
                        <i class="fa fa-google-plus"></i> Google Plus
                    </a>
                </div>
            </div>
            -->

        </div>

        <div class="col-sm-1 middle-border"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>{{_ 'welcome.signup.header' }}</h3>
                        <p>{{_ 'welcome.signup.description' }}:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" action="/creategroup" method="post" class="registration-form">
                        <input type="hidden" name="action" value="signup">
                        <input type="hidden" name="token" value="{{invitation.token}}">
                        <div class="form-group">
                            <label class="sr-only" for="username">{{_ 'form.username' }}</label>
                            <input type="text" name="username" placeholder="{{_ 'form.username' }}..." class="form-first-name form-control" id="form-first-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="firstname">{{_ 'form.firstname' }}</label>
                            <input type="text" name="firstname" placeholder="{{_ 'form.firstname' }}..." class="form-first-name form-control" id="form-first-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="lastname">{{_ 'form.lastname' }}</label>
                            <input type="text" name="lastname" placeholder="{{_ 'form.lastname' }}..." class="form-last-name form-control" id="form-last-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">{{_ 'form.email' }}</label>
                            <input type="text" name="email" placeholder="{{_ 'form.email' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">{{_ 'form.password' }}</label>
                            <input type="text" name="password" placeholder="{{_ 'form.password' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="squestion">{{_ 'form.secretquestion' }}</label>
                            <input type="text" name="squestion" placeholder="{{_ 'form.secretquestion' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="sanswer">{{_ 'form.secretanswer' }}</label>
                            <input type="text" name="sanswer" placeholder="{{_ 'form.secretanswer' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="phonehome">{{_ 'form.phone.home' }}</label>
                            <input type="text" name="phonehome" placeholder="{{_ 'form.phone.home' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="phonemobile">{{_ 'form.phone.mobile' }}</label>
                            <input type="text" name="phonemobile" placeholder="{{_ 'form.phone.mobile' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="pagernumber">{{_ 'form.phone.pager' }}</label>
                            <input type="text" name="pagernumber" placeholder="{{_ 'form.phone.pager' }}..." class="form-email form-control" id="form-email">
                        </div>
                        <button type="submit" class="btn">{{_ 'form.submit.create.group.signup' group.name }}</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
