<p>FAILED TO CREATE <% @error_class.to_s %></p>
<% if @errors.nil? %>
  <p>Unknown error occurred</p>
<% else %>
  <% @errors.messages.each do |key, value| %>
    <p><%= key %>: <%= value.join ' ' %></p>
  <% end %>
<% end %>
<% session[:redirect_in] ||= 5 %>
<% return_to = session[:return_to] %>
<% unless return_to.nil? %>
  <span class="redirecting">Redirecting in <span id="redirect_timeout"><%= session[:redirect_in] %></span> seconds.</span>
  <script>

    <% unless return_to.nil? %>
    setTimeout(function() {
      window.location.href = "<%= session[:return_to] %>"
    }, <%= session[:redirect_in] * 1000 %>);
    function startCountdown() {
      var ele = document.getElementById('redirect_timeout');
      var text = ele.innerHTML;
      var num = parseInt(text);
      if (!isNaN(num)) {
        num -= 1;
      }
      if (num > 0) {
        ele.innerHTML = '' + num;
      } else {
        <!-- TODO: show user that we are redirecting *now* -->
        ele.innerHTML = '0';
      }
      setTimeout("startCountdown()", 1000);
    }
    setTimeout("startCountdown()", 1000);
    <% end %>
  </script>
<% end %>

